<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="weather.toyproject.haru.game.GameMapper">
	<resultMap id="GameListVO" type="weather.toyproject.haru.game.domain.GameListVO">
		<id property="gameCode" column="game_code" />
		<result property="gameName" column="game_name" />
		<result property="userId" column="user_id" />
		<result property="modUserId" column="mod_user_id" />
		<result property="delYn" column="del_yn" />
		<result property="regDate" column="regdate" />
		<result property="modDate" column="moddate" />
		<result property="fileId" column="file_id" />
		<result property="fileAttYn" column="file_att_yn" />
	</resultMap>
	
	<resultMap id="FileVO" type="weather.toyproject.com.file.FileVO">
		<id property="fileId" column="file_id" />
		<result property="register" column="register" />
		<result property="userId" column="user_id" />
		<result property="updater" column="updater" />
		<result property="regDate" column="regdate" />
		<result property="modDate" column="moddate" />
		<result property="attachId" column="attach_id" />
		<result property="fileNm" column="file_nm" />
		<result property="virFileNm" column="vir_file_nm" />
		<result property="fileSize" column="file_size" />
		<result property="fileExt" column="file_ext" />
		<result property="filePath" column="file_path" />
	</resultMap>
	
	<resultMap id="FileDto" type="weather.toyproject.com.file.FileDto">
		<id property="fileId" column="file_id" />
		<id property="attachId" column="ATTACH_ID"/>
		<result property="register" column="register"/>
		<result property="updater" column="updater" />
		<result property="regDate" column="regdate" />
		<result property="modDate" column="moddate" />
		<result property="fileNm" column="file_nm" />
		<result property="virFileNm" column="vir_file_nm" />
		<result property="fileSize" column="file_size" />
		<result property="fileExt" column="file_ext" />
		<result property="filePath" column="file_path" />
	</resultMap>
	
	
	<select id="getGameList" resultMap="GameListVO">
		SELECT *
		FROM GAME_LIST
	</select>
	
	<insert id="insertGameImageInfo" parameterType="weather.toyproject.com.file.FileVO"> <!-- keyProperty로 PK담겨서 리턴됨 -->
		INSERT INTO FILE_MASTER (
				  FILE_ID
		        , REGISTER
				, REGDATE
		) 
		VALUES (  
				  FILE_MASTER_SEQUENCE.NEXTVAL
				, #{register}
			 	, SYSDATE 
		)
		<selectKey resultType="long" keyProperty="fileId" order="AFTER"> 
			SELECT FILE_MASTER_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertGameImageDetailInfo" parameterType="weather.toyproject.com.file.FileVO">
		INSERT INTO FILE_DETAIL  
		VALUES (
				 FILE_DETAIL_SEQUENCE.NEXTVAL
			   , #{fileId}
			   , #{fileNm}
			   , #{virFileNm}
			   , #{fileSize}
			   , #{fileExt}
			   , #{filePath}
		)
	</insert>
	
	<insert id="insertGameInfo" parameterType="weather.toyproject.haru.game.domain.GameListVO">
		/** insertGameInfo */
		INSERT INTO GAME_LIST (
				  GAME_CODE
				, USER_ID
				, GAME_NAME
				, DEL_YN
				, REGDATE
				, FILE_ID
				, FILE_ATT_YN
		)
		VALUES (
				 GAME_LIST_SEQUENCE.NEXTVAL
			   , #{userId}
			   , #{gameName}
			   , #{delYn}
			   , SYSDATE
			   , #{fileId}
			   , #{fileAttYn}
		)
	</insert>
	
	<select id="getGame" parameterType="String" resultMap="GameListVO">
		SELECT 
			 GAME_CODE
		   , USER_ID
		   , GAME_NAME
		   , DEL_YN
		   , REGDATE
		   , MODDATE
		   , MOD_USER_ID
		   , FILE_ID
		   , FILE_ATT_YN
	   FROM GAME_LIST
	   WHERE GAME_CODE = #{gameCode}
	</select>
	
	<select id="getGameImageInfo" parameterType="Long" resultMap="FileDto">
	   SELECT *
	   FROM ( SELECT 
		     	MA.FILE_ID
		      , REGISTER
		   	  , UPDATER
		      , REGDATE
		      , MODDATE
		      , FILE_NM
		      , VIR_FILE_NM
		      , FILE_SIZE
		      , FILE_EXT
		      , FILE_PATH
	   		 FROM FILE_MASTER MA
	   		 INNER JOIN FILE_DETAIL FD
	         	ON MA.FILE_ID = FD.FILE_ID
	        )
	   WHERE FILE_ID = #{fileId}
	</select>
	
	<update id="updateFileAttToN" parameterType="Long">
		UPDATE GAME_LIST
			SET FILE_ATT_YN = 'N'
		      , FILE_ID = NULL  
		WHERE GAME_CODE = #{gameCode} 	
	</update>
	
	<update id="updateGameInfo" parameterType="weather.toyproject.haru.game.domain.GameListVO">
		/** updateGameInfo */
		UPDATE GAME_LIST
		SET   MOD_USER_ID = #{userId}
			, GAME_NAME = #{gameName}
			, DEL_YN = #{delYn}
			, MODDATE = SYSDATE
			, FILE_ID = #{fileId}
			<if test="fileId != null">
			, FILE_ATT_YN = #{fileAttYn}
			</if>
		WHERE GAME_CODE = #{gameCode}
	</update>
</mapper>