<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="weather.toyproject.com.file.FileMapper">
	<resultMap id="FileVO" type="weather.toyproject.com.file.FileVO">
		<id property="fileId" column="file_id" />
		<result property="register" column="register" />
		<result property="userId" column="user_id" />
		<result property="updater" column="updater" />
		<result property="regDate" column="regdate" />
		<result property="modDate" column="moddate" />
		<result property="attachId" column="attach_id" />
		<result property="fileNm" column="file_nm" />
		<result property="virFileNm" column="vir_file_nm" />
		<result property="fileSize" column="file_size" />
		<result property="fileExt" column="file_ext" />
		<result property="filePath" column="file_path" />
	</resultMap>
	
	<resultMap id="FileDto" type="weather.toyproject.com.file.FileDto">
		<id property="fileId" column="file_id" />
		<id property="attachId" column="ATTACH_ID"/>
		<result property="register" column="register"/>
		<result property="updater" column="updater" />
		<result property="regDate" column="regdate" />
		<result property="modDate" column="moddate" />
		<result property="fileNm" column="file_nm" />
		<result property="virFileNm" column="vir_file_nm" />
		<result property="fileSize" column="file_size" />
		<result property="fileExt" column="file_ext" />
		<result property="filePath" column="file_path" />
	</resultMap>
	
	<update id="deleteFile" parameterType="Long">
		UPDATE FILE_DETAIL 
			SET FILE_DEL_YN = 'Y'
		WHERE FILE_ID = #{fileId}
	</update>
	
</mapper>
