<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<!-- Begin Page Content -->
	<div style="margin: 0 auto;">
		<div class="row" style="margin-left: 130px;">
			<div style="margin-right: 40px;">
				<div class="card" style="margin-bottom: 50px;">
					<div class="card-header">My Card</div>
					<div class="card-body">
						<a href="/admin/game/100"> 
							<img src="/images/123" alt="..." class="img-rounded" style="width: 400px; height: 400px;">
						</a>
					</div>
				</div>
			</div>
			<div style="margin-right: 40px;">
				<div class="card">
					<div class="card-header">My Card</div>
					<div class="card-body">
						<img src="/img/league-of-legends.png" alt="..."
							class="img-rounded" style="width: 400px; height: 400px;">
					</div>
				</div>
			</div>
			<div style="margin-right: 40px;">
				<div class="card">
					<div class="card-header">My Card</div>
					<div class="card-body">
						<img src="/img/league-of-legends.png" alt="..."
							class="img-rounded" style="width: 400px; height: 400px;">
					</div>
				</div>
			</div>
			<div style="margin-right: 40px;">
				<div class="card">
					<div class="card-header">My Card</div>
					<div class="card-body">
						<img src="/img/league-of-legends.png" alt="..."
							class="img-rounded" style="width: 400px; height: 400px;">
					</div>
				</div>
			</div>
			<div style="margin-right: 40px;">
				<div class="card">
					<div class="card-header">My Card</div>
					<div class="card-body">
						<img src="/img/league-of-legends.png" alt="..."
							class="img-rounded" style="width: 400px; height: 400px;">
					</div>
				</div>
			</div>
			<div style="margin-right: 40px;">
				<div class="card">
					<div class="card-header">My Card</div>
					<div class="card-body">
						<img src="/img/league-of-legends.png" alt="..."
							class="img-rounded" style="width: 400px; height: 400px;">
					</div>
				</div>
			</div>

		</div>
	</div>
</th:block>
</html>
