<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper interface와 경로 맞춰줘야 mapping수행된다. -->
<mapper namespace="weather.toyproject.haru.user.UserMapper">
	<!-- ResultMap, ResultType이 존재한다. -->
	<resultMap type="weather.toyproject.haru.user.domain.AuthVO" id="AuthVO">
		<id property="authId" column="auth_id"/>
		<result property="authName" column="auth_name"/>
		<result property="regDate" column="regdate"/>
		<result property="modDate" column="moddate"/>
		<result property="del_yn" column="del_yn"/>
	</resultMap>

	<resultMap id="GameListDto" type="weather.toyproject.haru.user.domain.GameListDto">
		<id property="gameCode" column="game_code" />
		<result property="gameName" column="game_name" />
		<result property="userId" column="user_id" />
		<result property="modUserId" column="mod_user_id" />
		<result property="delYn" column="del_yn" />
		<result property="regDate" column="regdate" />
		<result property="modDate" column="moddate" />
		<result property="fileId" column="file_id" />
		<result property="fileAttYn" column="file_att_yn" />
	</resultMap>
	
	<resultMap type="weather.toyproject.haru.user.domain.UserVO" id="UserVO">
		<id property="userNo" column="user_no"/>
		<result property="userId" column="user_id"/>
		<result property="password" column="password"/>
		<result property="userName" column="username"/>
		<result property="email" column="email"/>
		<result property="verified" column="verified"/>
		<result property="locked" column="locked"/>
		<result property="regdate" column="regdate"/>
		<result property="moddate" column="moddate"/>
		<!--<collection property="AuthList" ofType="weather.toyproject.haru.user.domain.AuthVO" column="userId" javaType="ArrayList" select="getMember_Auth"/>  -->
		<!-- column은 상위의 resultMap의 column을 넣어줘야 한다.(안그러면 쿼리실행자체가 안된다.) -->
		<collection property="AuthList" ofType="weather.toyproject.haru.user.domain.AuthVO" select="getMember_Auth" column="user_id" javaType="java.util.ArrayList" />
		
		<!-- ofType:collection안의 데이터타입 
		     property : bean인에 맴버변수명 
		     column : 파라미터값? 다수면 column="{key=value, key=value}" 형식으로 입력해야함
		-->
		<!-- 권한 List -->
	</resultMap>
	

	<select id="getUserById" parameterType="String" resultMap="UserVO">
			/** getUserById */
			SELECT
			     *
			FROM USER_T
			WHERE USER_ID = #{userId} 
	</select>
	
	<select id="getMember_Auth" resultMap="AuthVO">
		/** getMember_Auth */
		SELECT *
		FROM AUTH_T
		WHERE AUTH_ID IN (
						  SELECT 
		                       AUTH_ID
						  FROM (
						  		SELECT 
						  		     USER_NO
                                FROM USER_T
                                WHERE USER_ID = #{userId}
                                ) A
                          INNER JOIN USER_AUTH_MAPPING
                          	ON A.USER_NO = USER_AUTH_MAPPING.USER_NO
                          )
	</select>
	
	<insert id="InsertUser" parameterType="weather.toyproject.haru.user.domain.UserVO">
		INSERT INTO USER_T
		VALUES ( 
		         USER_SEQUENCE.NEXTVAL
		        ,#{userId}
		        ,#{password}
		        ,#{email}
		        ,#{userName}
		        ,'Y'
		        ,'N'
		        ,sysdate
		        ,sysdate
		 )
		<selectKey resultType="Long" keyProperty="userNo" order="AFTER"> <!-- keyProperty=""(해당하는 vo에 키값 입력한다.) -->
			select USER_SEQUENCE.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="InsertUserAuthMapping" parameterType="Long">
		INSERT INTO USER_AUTH_MAPPING
		VALUES ( 
				  SELECT 
				  	  AUTH_ID 
				  FROM AUTH_T 
				  WHERE AUTH_NAME = 'ROLE_USER' 
		        , #{userNo}
		       )
	</insert>
	
	
	<!-- parameterType="weather.toyproject.haru.user.domain.GameListDto" -->
	<select id="selectGameList_admin" resultMap="GameListDto">
	/** selectGameList_admin */
		SELECT 
			  GAME_CODE
			, USER_ID
			, GAME_NAME
			, DEL_YN
			, TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS') AS REGDATE
			, MODDATE
			, MOD_USER_ID
			, FILE_ID
			, FILE_ATT_YN 
		FROM GAME_LIST
		WHERE 1=1
		<if test='gameName != null and !"".equals(gameName)'>
			AND GAME_NAME = #{gameName}
		</if>
	</select>
</mapper>
