<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="container-fluid">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800" th:text = "사용자 관리"></h1>
		
		<!-- Topbar Search -->
        <form id="gameForm" action="/admin/gameList" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group" style="margin-top:12px;">
                <input type="text" id="gameName" name="gameName" class="form-control border-0 small" placeholder="게임이름" aria-label="Search" aria-describedby="basic-addon2" th:value="${search.gameName}" style="background-color:#ffffff;">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- Topbar Navbar -->
		
		<div style="margin-top: 40px; padding-bottom: 2px;">
		    <a href="/admin/game/regist"><button type="button" class="btn btn-primary">게임 등록</button></a>
			<!--<button type="button" class="btn btn-primary">게임 등록</button>  -->
		</div>
		<table class="table table-striped ">
			<thead>
				<tr style="color: black;">
					<th>ID</th>
					<th>게임이름</th>
					<th>등록자</th>
					<th>사용여부</th>
					<th>등록일</th>
					<th>이미지등록여부</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="game : ${games.list}">
					<td th:text="${game.gameCode}">ID</td>
					<td><a th:href="@{/admin/game/{gameId}(gameId=${game.gameCode})}" class="no-Atag" th:text="${game.gameName}">제목</a></td>
					<td th:text="${game.userId}">등록자</td>
					<td th:text="${game.delYn == 'Y'} ? '사용' : '미사용'">사용여부</td>
					<td th:text="${game.regDate}">등록일</td>
					<td th:text="${game.fileAttYn}">이미지등록여부</td>
				</tr>
			</tbody>
		</table>
		
		<!-- 페이징 -->
		<nav aria-label="Page navigation example" th:with="numberToggle=${games.pageNum}">
		  <ul class="pagination">
		  	<span th:text="${navigatepageNums}"></span>
		    <li class="page-item" th:classappend="${games.prePage == 0} ? 'disabled'">
		    	<a class="page-link" th:href="@{/admin/gameList(pageNum=${games.getPrePage()}, gameName=${search.gameName})}">Previous</a>
		    </li>
		    <li class="page-item" th:classappend="${numberToggle == pageNum} ? active : ''" th:each="pageNum : ${#numbers.sequence(games.navigateFirstPage, games.navigateLastPage)}"> <!-- https://ifuwanna.tistory.com/200 -->
		    	<a class="page-link" th:href="@{/admin/gameList(pageNum=${pageNum}, gameName=${search.gameName})}" th:text="${pageNum}">1</a>
		    </li>
		    <li class="page-item" th:classappend="${games.nextPage == 0} ? 'disabled'">
		    	<a class="page-link" th:href="@{/admin/gameList(pageNum=${games.getNextPage()}, gameName=${search.gameName})}">Next</a>
		    </li>
		  </ul>
		</nav>
	</div>
	<script type="text/javascript">
		window.onload = function() {
			eventBind();
		}
		function eventBind() {
			alertProcess("[[${param.msg}]]"); //CDATA 타임리프의 jstl같은놈인듯
			
		} 
		
		function alertProcess(msg) {
			if(msg != null && msg != "") {
				alert(msg);
			}
		}
	</script>
</th:block>