<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

	<div class="container">

		<div class="card o-hidden border-0 shadow-lg my-5">
			<div class="card-body p-0">
				<!-- Nested Row within Card Body -->
				<div class="row" style="min-height: 480px;">
					<div class="col-lg-5 d-none d-lg-block" style="background-image: url(/img/overwatch_banner.jpg)"></div>
					<div class="col-lg-7">
						<div class="p-5">
							<div class="text-center">
								<h1 class="h4 text-gray-900 mb-4">회원가입</h1>
							</div>
							<form id="userForm" th:object="${userVO}" method="post" th:action="@{/user/new}"> <!--th:action사용시 csrf토큰 자동 생성해서 전달 -->
								<!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
								<div class="form-group">
									
									<div class="form-group">
										<input type="text" class="form-control form-control-user" id="userId" name="userId"  placeholder="아이디" th:value="${userVO.userId}"/>
									</div>
									<!--<span th:if="${not #strings.isEmpty(errors)}" th:text="${errors['id']}"  style="color: red;"></span> -->
									<span th:text="${valid_userId}" style="color: red;"></span>
								</div>
								<div class="form-group">
									<input type="password" class="form-control form-control-user" id="password" name="password" placeholder="비밀번호"/>
								</div>
								<div class="form-group">
									<input type="password" class="form-control form-control-user" id="secondPassword" name="secondPassword" placeholder="비밀번호_확인"/>
									<span th:text="${valid_secondPassword}"  style="color: red;"></span>
								</div>
								<div class="form-group">
									<input type="email" class="form-control form-control-user" id="email" name="email" placeholder="이메일" th:value="${userVO.email}"/>
								</div>
								<div class="form-group">
									<input type="text" class="form-control form-control-user" id="userName" name="userName" placeholder="닉네임" th:value="${userVO.userName}"/>
								</div>
								<div class="status-div" style="word-break:break-all;">
									<span th:text="${#request.getAttribute('message')}" >message here</span>
									<span th:text="${message}"></span>
									<span th:text="${param.error}"></span>
								</div>
								<a href="javascript:void(0)" class="btn btn-primary btn-user btn-block" id="btn-create">
									회원가입
								</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>
	<script>
		var index = {
			init : function() {
				var _this = this;
				$("#btn-create").on('click', function() {
					_this.createUser();
				})	
			},
			
			createUser : function() {
				var form = $("#userForm");
				form.submit();
			}
		};
		
		index.init();
	</script>
</body>

</html>