<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">

<th:block layout:fragment="content">
	<div class="container-fluid">
		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800" th:text = "게임목록관리"></h1>
		
		<div style="margin-top: 40px; padding-bottom: 2px;">
		    <a href="/admin/game/regist"><button type="button" class="btn btn-primary">게임 등록</button></a>
			<!--<button type="button" class="btn btn-primary">게임 등록</button>  -->
		</div>
		<table class="table table-striped ">
			<thead>
				<tr style="color: black;">
					<th>ID</th>
					<th>게임이름</th>
					<th>등록자</th>
					<th>사용여부</th>
					<th>등록일</th>
					<th>이미지등록여부</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="game : ${games}">
					<td th:text="${game.gameCode}">ID</td>
					<td><a th:href="@{/admin/game/{gameId}(gameId=${game.gameCode})}" class="no-Atag" th:text="${game.gameName}">제목</a></td>
					<td th:text="${game.userId}">등록자</td>
					<td th:text="${game.delYn == 'Y'} ? '사용' : '미사용'">사용여부</td>
					<td th:text="${game.regDate}">등록일</td>
					<td th:text="${game.fileAttYn}">이미지등록여부</td>
				</tr>
			</tbody>
		</table>
	</div>
</th:block>
<script>
window.onload = function() {
	eventBind();
}
function eventBind() {
	alertProcess("[[${msg}]]"); //CDATA 타임리프의 jstl같은놈인듯
	
} 

function alertProcess(msg) {
	if(msg != null && msg != "") {
		alert(msg);
	}
}
</script>